# Ignore compiled Python files
__pycache__

# Ignore virtual environment
venv/
env/
instance/
migrations/

# Ignore log files
*.log

# Ignore IDE-specific files
.vscode
.idea

# Ignore DB folders
.instance
.migrations
.VendingMachine